# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Jupyter
.ipynb_checkpoints/

# Data
*.parquet
*.xml
archive/
*/data/
datasets/*
!datasets/pubmed_title_retrieval/
!datasets/pubmed_title_retrieval/**
results/

# Ephemeral / local
logs/


# MeSH artifacts
mesh_explorer/mesh_tree.json

# OS
.DS_Store
Thumbs.db

# Docs
docs/
literature/

# IDE
.idea/
.vscode/
*.swp
